.card-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;

  h3 {
    flex-grow: 1;
    font-weight: normal;
    overflow: hidden;
    word-break: break-word;
  }

  .image-container {
    border: 1px solid var(--light-grey-color);
    flex-grow: 0;
    margin-right: 1em;

    img {
      width: 100px;
      max-height: 100px;
    }
  }

  .price {
    white-space: nowrap;
    font-weight: bold;
    margin-left: 1em;

    &[data-in-cart=true] {
      color: var(--light-grey-color)
    }
  }
}

.with-button-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5em;
  align-items: center;

  button {
    margin-left: 35px;
    background-color: var(--green-color);
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;

    &[disabled] {
      background-color: var(--light-grey-color);
    }

    .icon {
      width: 5em;
    }
  }
}

@media (max-width: 1200px) {
  .with-button-wrapper {
    button {
      padding: 6px 20px 6px 16px;

      .icon {
        width: 3.5em;
      }
    }
  }
}